[Interface]
Address = 10.0.0.3/24
PrivateKey = {{ salt['cmd.run']('cat /etc/wireguard/privatekey') }}
SaveConfig = true

[Peer]
PublicKey = {{ salt['cmd.run']('cat /etc/wireguard/publickey') }}
AllowedIPs = 0.0.0.0/0
Endpoint = 192.168.56.4:51820
PersistentKeepalive = 30
