[Interface]
PrivateKey={{ salt['cmd.run']('cat /etc/wireguard/privatekey') }}
Address = 10.0.0.2/8
SaveConfig=true

[Peer]
PublicKey = 
AllowedIPs = 0.0.0.0/0
Endpoint = <serverIP>:51820
PersistentKeepalive = 20
